.header {
    width: 1600px;
    height: 770px;
    background-image: url("../img/header__background.jpg");
    background-repeat: no-repeat;
//    background-size: contain;
}

.header-container-menu {
    height: 36px; 
    padding-top: 40px;
}

.header-home {
    display: inline-block;
    line-height: 36px;
    position: relative;
    margin-top: -4px;
    padding-left: 227px;
    font: 600 24px Montserrat, sans-serif;
    text-decoration: none;
}

.header-menu {
    display: inline-block;
    height: 24px;
    position: absolute;
    left: 798px;
    top: 42px;
}

.header-menu__element {
    margin-left: 31px;
    font: 14px Montserrat, sans-serif;
    letter-spacing: 0.025em;
    text-decoration: none;
}

.header-name {
    margin: 246px 0 0 0;
    text-align: center;
}
.header-name__name1 {
    font: 500 50px Montserrat, sans-serif;
}
.header-name__name2 {
    margin-top: 20px;
    font: 500 23px "Roboto Slab", serif;
}
.header-name__button {
    width: 150px;
    margin: 0 auto;
    line-height: 20px;
    margin-top: 35px;
    padding: 16px;
    font: 500 15px Montserrat, sans-serif;
    border: 2px solid white;
    background-color: aqua;
}

.main-s-1 {
    width: 1600px;
    height: 580px;
    padding-top: 99px;
}

.main-1-header {
//    margin: 0 auto;
    text-align: center;
}

.main-1-header__name {
    margin: 0 auto;
//    margin: 0 auto;
    font: 20px Monsterrat, sans-serif;
//    text-align: center;
    line-height: 24px;
    color: #555555;
//    text-align: center;
}
 
.main-1-header__line {
    background-color: #555555;
    color: #555555;
    width: 50px;
    height: 2px;
    margin: 20px auto;
}

.main-1-header__main {
    font: 16px "Roboto Slab", serif;
    line-height: 24px;
//    text-align: center;
    color: #555555;
}

.main-1-container {
//    display: inline-block;
//    margin: 0 auto;
    text-align: center;
}

.main-1-description {
    display: inline-block;
    background-color: cyan;
    vertical-align: top;
}

.main-1-description__logo {
    display: inline-block;
//    vertical-align: top;
    text-align: center;
    width: 86px;
    height: 86px;
    line-height: 86px;
    border-radius: 45px;
    background: red;
    border: 2px solid #dddddd;
}

.main-1-description__logo_style-b1 {
    
}
.main-1-description__logo_style-b2 {
    background-color: white;
}
.main-1-description__logo_style-b3 {
    background-color: white;
}


.main-1-description__logo-img1 {
    margin-top: 23px;
}
.main-1-description__logo-img2 {
    margin-top: 22px;
}
.main-1-description__logo-img3 {
    margin-top: 20px;

}

.main-1-description__text-head {
    text-align: center;
    font: 16px "Roboto Slab", serif;
    line-height: 24px;
    color: #555555;
}
.main-1-description__text-main {
    width: 200px;
    text-align: center;
    font: 14px "Roboto Slab", serif;
    line-height: 24px;
    color: #555555;
    
}

